<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
</head>
<body class="login-body">
    <div id="logo">
        <a href="/"><img src="logo.png" alt="logo"></a>
    </div>
    <div class="header">
        <h1>Login</h1>
        <p>Please enter your credentials to access your account.</p>
    </div>
    <div class="container">
    <div class="login-form">
        <form action="./index.html" method="POST">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required>
            <button type="submit" class="btn submit">Login</button>
        </form>
    </div>
    </div>
    <footer>
        <a href="./about.ejs">About us &nbsp;|&nbsp; </a> 
        <a href="">&copy;2025 &nbsp;| &nbsp;</a> 
        <a href="#">Contact us</a>
    </footer>
    <div class="body-blurr">
        <div class="coming-soon-text">Coming Soon! <br>
             <a href="/"><- Back Home</a>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>