*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:white;
}
body{
    background-image: url(food-img-2.jpg);
    background-size: cover;
    /* background-position: center; */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    height: 100vh;
    width:100%;
    display:flex;
}
#logo{
    width:125px;
    height:125px;
    cursor: pointer;
}
#logo img{
    width:125px;
    height:125px;
    cursor: pointer;
}
h1{
    font-family: 'Lilita One', cursive;
}

.header{
    position:absolute;
    top:20%;
    left: 20%;
    width:40%;
    
}
.header h1{
    text-align: center;
}
.header p{
    color: azure;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10%;
    padding-top: 5%;
    width:100%;
}


.main{
    position:absolute;
    top: 60%;
    left: 20%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 30px;
}

.btn{
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: "Pacifico",cursive;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffd453d2;
    color:black;
}

.btn:hover{
    background-color: #ffc822;
}
footer{
    position:absolute;
    width:100%;
    bottom: 0;
    text-align: center;
    margin-bottom: 20px;
}
footer a{
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}
.about-page{
    background-color: black;
    color: white;
    background-image: none;

}
.about-page-header{
    position: absolute;
    width: 80%;
    left: 10%;
    text-align: center;   
    top:5%; 
}
.about-page-main{
    position: absolute;
    top: 20%;
    /* left: 10%; */
    display: flex;
    flex-direction: row;
    gap:10%;
    text-align: center;
    justify-content: center;
}
.people{
    position: absolute;
    top: 70%;
    left: 10%;
    display: flex;
    flex-direction: row;
    gap:10%;
    text-align: center;
    justify-content: center;
    width: 80%;
}
.team{
    position: absolute;
    top:60%;
    width: 100%;;
    text-align: center;
}
.about-page-content{
    top: 50%;
    left: 10%;
    width: 20%;
    border: 1px solid #ffc822;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}
.about-page-content:hover{
    cursor:pointer;
    background-color: #ffc822;
    /* color: black; */
}
.about-page-content:hover *{
    color: black;
}
.about-page-content h2{
    margin-bottom: 10px;

}
.about-page-content .email{
    text-align: left;
    margin-top:10px;

}
.team-page-content{
    top: 50%;
    left: 10%;
    width: 30%;
    border: 1px solid #ffc822;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}
.team-page-content:hover{
    cursor:pointer;
    background-color: #ffc822;
    /* color: black; */
}
.team-page-content:hover *{
    color: black;
}
.team-page-content h2{
    margin-bottom: 10px;

}
.team-page-content ul{
    list-style: none;
    text-align: left;
}
.team-page-content ul li{
    margin: 5px 0;
}
.team-page-content .icons{
    text-align: left;
    margin-top: 10px;
    width: fit-content;
}
.team-page-content .icons img{
    width: 48px;
    height: 48px;
    border-radius:6px;
}
.team-page-content .icons img:hover{
    width: 50px;
    height: 50px;
}
.icons-div{
    display: flex;
    flex-direction: row;
    gap: 20%;
}
.login-body{
    background-image: url(login-2.png);
    background-size: cover;
    background-position: center;
    color: black;
    height: 100vh;
    width:100vw;
    overflow: hidden;
}

.login-body .header{
    top:3%;
    left: 5%;
    right: 5%;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 30px;
}

.login-body .header p{
    margin-top:-22px;
    font-size: 25px;
}
/* .login-form{
    position: absolute;
    height: fit-content;
    width: 400px;
    top: 35%;
    left:30%;
    border: 3px solid rgba(255, 255, 255, 0.375);
    padding: 15px;
    font-size: 30px;
    backdrop-filter: blur(3px);
} */

.login-form {
    position: absolute;
    width: 100%;         
    max-width: 600px;   
    top: 35%;
    left: 5%;
    right: 5%;          
    margin: 0 auto;     
    box-sizing: border-box;
    border: 3px solid rgba(255, 255, 255, 0.375);
    border-radius: 10px;
    padding: 15px;
    /*font-size: 20px;*/
    backdrop-filter: blur(3px);
}
.login-form label{
    font-size: 20px;
}
.login-form input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #f8d673;
    color:black;
    font-size:large;
}

.login-form button{
    position: relative;
    width: 80%;
    padding: 7px;
    text-align: center;
    align-items: center;
    left: 10%;
    margin-top: 40px;

}
.donor-body{
    background-image: url(donor.jpeg);
    background-size: cover;
    background-position: center;
    color: black;
    height: 100vh;
    width:100vw;
    overflow: hidden;
}

.donor-body .header{
    top:10%;
    left: 5%;
    right: 5%;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 30px;
}

.donor-body .header p{
    top:10%;
    font-size: 25px;
}

.login-form .register {
    display: flex;
    margin-top: 10px;
    padding: 30px 20px 0px 0px;
    justify-content: space-between;
}
.login-form .register a{
    font-size: 18px;
    
}
.Donor-form {
    position: absolute;
    width: 90%;         
    max-width: 400px;   
    top: 18%;
    left: 5%;           
    right: 5%;          
    margin: 0 auto;     
    box-sizing: border-box;
    border: 3px solid rgba(255, 255, 255, 0.375);
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    backdrop-filter: blur(3px);
}

.Donor-form input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #f8d673;
    color:black;
    font-size:large;
}
.Donor-form textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #f8d673;
    color:black;
    font-size:large;
    resize: none;
}
.Donor-form button{
    position: relative;
    width: 80%;
    padding: 7px;
    text-align: center;
    align-items: center;
    left: 10%;
    margin-top: 40px;
}


.food-data-body{
    background-color: black;
    background-image: none;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    margin-bottom: 20px;
}
.food-data-body header{
    position: absolute;
    width: 80%;
    left: 10%;
    text-align: center;   
    top:5%; 
}
.food-data-body main{
    position: absolute;
    top: 20%;
    left: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%; 

}
.food-data-body .food-divs{
    /* position: absolute; */
    background-color: #ffe6b3;  /* soft creamy orange */
    box-shadow: 0 4px 12px rgba(255, 174, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    min-height: fit-content;
    max-height: 300px;
    font-size: 20px;
    box-sizing: border-box;
    color: black;
    margin-bottom:3% ;
}
.food-data-body .food-divs:hover{
    background-color: #ffc822;
    
}

.food-data-body .food-divs *{
 color: #333; 
}
.food-divs:hover {
  transform: translateY(-5px);
  background-color: #222;
  box-shadow: 0 8px 20px rgba(255, 200, 34, 0.5);
}

.food-data-body button{
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 15px;
    font-size: small;
    font-weight: bold;
}
.food-data-body button:hover{
    cursor: pointer;

}
.food-data-body .delete-btn{
    background-color: rgb(252, 96, 96);
}
.food-data-body .update-btn{
    background-color: rgb(21, 246, 21);
}
.food-data-body .delete-btn:hover{
    background-color: rgb(250, 66, 66);
}
.food-data-body .update-btn:hover{
    background-color: rgb(0, 232, 0);
}

.body-blurr{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);  /* blurs everything behind */
  background-color: rgba(0, 0, 0, 0.6); /* dark overlay */
  z-index: 9999; /* sits above everything */
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}
.coming-soon-text {
  color: #ffc822;
  font-size: 3rem;
  font-family: 'Lilita One', cursive;
  text-align: center;
  text-shadow: 2px 2px 5px #000;
}
.coming-soon-text a{
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
}
.add{
    background-color: #ffe6b3;  /* soft creamy orange */
    box-shadow: 0 4px 12px rgba(255, 174, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    min-height: fit-content;
    max-height: 300px;
    font-size: 20px;
    box-sizing: border-box;
    color: black;
    margin-bottom:3% ;
    align-content: center;
}
.add a{
    margin : 100px
}
.add:hover{
    transform: translateY(-5px);
    background-color: #ffc822;
    box-shadow: 0 8px 20px rgba(255, 200, 34, 0.5);
}

@media(max-width:1024px){
    .about-page-main{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
    top:15%;
}

.about-page-content{
    width: 80%;
}
    .people{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
    top: 90%;
}
.team-page-content{
    width: 85%;
}
.team{
   top:95%;

}
.people{
    top:105%;
    margin-bottom: 20px;
}
.icons-div{
    margin-top:15px;
}
}

@media (max-width:850px){
.header{
    position:absolute;
    top:15%;
    left: 5%;
    width:90%;
}
.main{
    position:absolute;
    width:fit-content;
    top: 60%;
    left:15%;
    right:15%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.people{
    top:115%;
}
.team{
    top:105%;
}
}
@media(max-width: 769px){
    .food-data-body main{
    flex-direction: column;
    align-items: center;
    }

  .food-data-body .food-divs{
    width: 80%;
}
    .login-body .header p{
        margin-top: -37px;
    }
}

@media(max-width:620px){
    .btn{
    padding: 15px;
    font-size: 15px;
    font-weight: 300;
    }
    .main{
    left:15%;
    right:5%;
    top:60%;
}
}

@media(max-width:550px){
    .btn{
    padding: 15px;
    font-size: 15px;
    font-weight: 300;
    width:100%;
    }
    .main{
    width:70%;
    flex-direction:column;
    left:15%;
    right:5%;
    top: 60%;
    gap:15px;
}
}

@media(max-width: 523px){
    .team{
        top: 125%;
    }
    .people{
        top: 135%;
        padding-bottom: 20px;
    }
    .about-page-content{
        width: 90%;
    }
    .team-page-content{
        width: 90%;
    }
   #logo{
    width:50px;
    height:50px;

}
#logo img{
    width: 75px;
    height:75px;

}
.login-form{
    width: 250px;
    top: 35%;
    font-size: 20px;

}
.login-form input{
    padding: 5px;
    font-size:small;

    
}
.login-form button{
   margin-top:20px;
}

.login-body .header{
    font-size:medium;
}
.login-body .header p{
    font-size:small;
}
.food-data-body header{
    font-size: small;
    top:10%;
}
.food-data-body main{
    gap:20px;
}
    .login-body .header p{
        margin-top: -14px;
    }
}
@media(max-width:336px){
    .team{
        top:140%;
    }
    .people{
        top:150%;
    }
    .main{
        top:60%;
        margin-bottom: 10px;
    }
    .header{
        top:10%;
    }
    .team-page-content h2{
        font-size:20px ;
    }
    .team-page-content li{
        font-size:15px ;
    }
.team-page-content .icons img{
    width: 30px;
    height: 30px;
    border-radius:6px;
}
.team-page-content .icons img:hover{
    width: 32px;
    height: 32px;
}

}